DB_URL=jdbc:postgresql://localhost:5432/cesizenDb
DB_USERNAME=cesizenUser
DB_PASSWORD=CHANGE_ME

JWT_SECRET=CHANGE_ME

SSL_ENABLED=true
SSL_KEY_STORE=classpath:certs/cesizen-local.p12
SSL_KEY_STORE_PASSWORD=CHANGE_ME

MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=
MAIL_PASSWORD=

RESET_PASSWORD_URL=http://localhost:4200/reset-password